*{
    padding: 0;
    margin: 0;
  }
    /*___________header_______*/
.content{
    width: 100%;
    margin: auto;}
header{
    width: 100%;
    height: 36px;
    background-color: white;
    background-position: center;
    border: 1px solid ;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    border: none;
    border-top: 0;
    z-index: 100;}
    
.menu{
        width: 85%;
        margin: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;}
.menu ul li a{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
    font-size: 18px;
font-weight: bold;}
.menu ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background:rgb(10, 10, 10);
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.7s ease-in-out;}
.menu ul li:hover::after{
        width: 100%;}
        
        /*______banniere____*/
.banniere{
    width:100% ;
    height: 720px;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(images/background.jpg);
    background-size: cover;
    background-position: center;}
    nav{
        margin-top: 28px;
        width: 100%;
        height: 600px;}
       .logo{
          cursor: pointer;
          width: 200px;
          height: 200px;
          padding: 10px;}
        .Teneur h1{
            font-size: 60px;
           font-family: 'Gill Sans';
        color: #e2d84f; } 
        .Teneur span{
            font-size: 40px;
            font-family: optima;} 
         .Teneur {
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          color: #fff;}
          .but{
            width: 100%;
            top: 70%;
            transform: translateY(-50%);
            text-align: center;
            color: #fff; }

           
             .but button{
                  width: 200px;
                  text-align: center;
                  padding:10px 0 ;
                  border: 2px double black;
                  border-radius: 50px;
                  margin: 5px 10px ;
                  font-weight: bold;
                  border: none;
                  cursor: pointer;
                  background: rgb(196, 193, 13);
                  position: relative;
                  overflow: hidden;
                  transition: width 1s, height 1s,  transform 1s;
                  animation-name: example;
                  animation-duration: 4s;
                  animation-delay: -2s;
                outline: 0;}
                   .but button a{
                      text-decoration: none;
                     color:black;
                    font-size: 38px;}
                     .but button:hover {
                        background-color: #e2d84f;
                        width: 300px;
                        transition-delay: 1s;
                        }   
                    @keyframes example {
                        0%   {background-color:rgb(84, 133, 5); left:0px; top:0px;}
                        25%  {background-color:rgb(118, 148, 12); left:200px; top:0px;}
                        50%  {background-color:rgb(177, 189, 17); left:200px; top:200px;}
                        75%  {background-color:rgb(192, 189, 16); left:0px; top:200px;}
                        100% {background-color:rgb(240, 236, 19); left:0px; top:0px;}
                      }
    /*__________formul_____*/
 
.formulaire{
    width: 100%;
    height: 140px;
    background-color: rgb(247, 246, 250);
    color: white;
    font-size: 30px;
     margin: 0px 10px 0px 0px;
    margin-bottom: 20px;}  
 #formulaire{
     margin-left:50px;
    }
#text{
    width: 200px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 10px;
   background-color:yellow;
}     
label{
    color: black;
   font-size: 20px;
   font-family: Franklin Gothic Medium;
}
button{
    width: 200px;
    background-color:yellow;
    padding: 5px;
    border: none;
font-size: 20px;

}
#opx{
    width: 200px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 10px;
   background-color:yellow;

}
    button a {
        text-decoration: none;
        font-size: 20px;
    }     
     /*________les image______*/
    h2{
        margin-left: 300px;
        font-size: 40px;
    }
    .image{
        width: 300px;
        height: 480px;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0px,8px,24px #24242498;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        margin-left: 130px;
        margin-bottom: 80px;
       
    }
    .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .image .info{
        position: absolute;
        background-color: #ffffffbc;
        top: 0;
        left: 220px;
        right: -20px;
        bottom: 0;
        display: grid;
        grid-template-columns: 80px 1fr;
        line-height: 24px;
        color: #fa3838;
        padding: 56px 16px 16px 0px;
        font-weight: bold;
    }
    .image:hover .info{
        background-color: #ffffffde;
        left: 0;
        right: 0;}
 .image .info label {
     font-size: 64px;
     padding: 0px 16px;
     font-weight: 800;
     line-height: 64px;
     word-break: break-all;
     color: #0a0a0a;
 }                   
    /* ____slideshow____*/
.slidesho{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 100px;
}
.slidesho{
    position: absolute;
    padding-top: 450PX;
    left: 50%;
    transform: translate(-50%,-50%);}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    }
    .bar{
        width: 50px;
        height: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    .bar:hover{
        background: #fff;
    }
    input[name="r"]{
        position: absolute;
        visibility: hidden;}
   .slidemenu{
        width: 800%;
        height: 100%;
        display: flex;
    }   
    .slide{
        width: 20%;
        transition: 0.6s;
    } 
   .slide img{
        width: 100%;
        height: 100%;
    object-fit: cover;}

     #r1:checked ~ .s1{
         margin-left:0 ;} 
         #r2:checked ~ .s1{
            margin-left:-20% ;}   
              #r3:checked ~ .s1{
                margin-left:-40% ;}   
                #r4:checked ~ .s1{
                    margin-left:-60% ;}   
                    #r5:checked ~ .s1{
                        margin-left:-80% ;}   
                        #r6:checked ~ .s1{
                            margin-left:-100% ;}   
/*____________________footer_________*/
footer{
    background-color: rgb(68, 68, 55);
    line-height: 24px;
    color:white;
    margin-top: 600px};
.social{
  width: 100%;
  display: flex;
   grid-template-columns: repeat(5,1fr);
  grid-gap: 5px;}

footer .social img{
    width: 20px;;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;}

footer .social img:hover{
        opacity: 1;
        border-color: blanchedalmond;
        box-shadow: 0px 0px 16px gray;
    }    
 footer .art{
    background-color: rgb(128, 128, 102);
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%,100% 10%,100% 100%,0% 100%);
}
.fot{
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
} 
footer h3{
    font-size: 40px;
    padding-block: 16px;
    color: black;
} 
 .fot a{
    display: block;
    padding-block: 12px;
    color: white;
    text-decoration: none;
    opacity: 0.65;
} 

footer .fot a:hover{
    opacity: 1;
    color: black;
    font-size: 40px;
}
footer input{
    border-style: solid;
    line-height: 24px;
    padding: 12px 20px;
    font-size: 1rem;
    width: 100%;
    margin-block:8px ;
    border-radius: 8px;
    border-width: 2px;
}
footer input[type='email']{
    background-color: transparent;
    border-color: black;
    color: white;
    outline: 0;
}
footer input[type='email']:hover,
footer input[type='email']:focus{
    border-color:white;
    color: black;
    padding: 20px;
}
footer button[type='submit']{
    background-color: black;
    color: blanchedalmond;
    text-transform: uppercase;
    border: none;
}
footer button[type='submit']:hover{
    background-color: white;
    color: black;
   }
    footer button[type='submit'] a:hover{
        font-size: 20px;

    }

footer .notice{
    text-align: center;
    padding: 24px;
    
}
footer .notice strong{
    color: black;
    text-transform: uppercase;
} 






   
              
           